pyramid
pyramid_debugtoolbar
waitress
pyramid_beaker
pyramid_mailer
pymongo
argparse
pairtree
uuid
Celery==3.0.23
celery-with-mongodb
pyramid_celery
nose
webtest
pyftpdlib
gitpython==0.3.2.RC1
yapsy
git+https://github.com/mobyle2/mobyle2.lib.git@develop#egg=mobyle2.lib
wsgicors
