pyramid
pyramid_debugtoolbar
waitress
pyramid_beaker
pyramid_mailer
pymongo
argparse
pairtree
uuid
Celery
celery-with-mongodb
pyramid_celery
nose
webtest
mongokit
pyftpdlib
gitpython=0.3.2.RC1
yapsy
git+https://github.com/mobyle2/mobyle2.lib.git@develop#egg=mobyle2.lib
